<style>
	.btn{
		color:#eee;
		margin: 10px;
	}
</style>
<h1 class="page-header">
	Welcome <span style="text-transform:capitalize" ng-bind="name"></span>
</h1>



<a class="btn btn-success jumbotron" href="http://localhost/Dannys/client/#/admin/operator">Create or Delete Operator.</button>
<a class="btn btn-success jumbotron" href="http://localhost/Dannys/client/#/admin/menu">Create or Delete Menu Item.</button>
<a class="btn btn-success jumbotron" href="http://localhost/Dannys/client/#/admin/summary">Summary of the total sales today.</button>
