<style>
	.btn{
		color:#eee;
		margin: 10px;
	}
</style>
	
<h1 class="page-header">
	Welcome <span style="text-transform:capitalize" ng-bind="name"></span>
	<span><button class="btn-success pull-right" id="logoutBtn" data-toggle="modal" data-target="#myModal">Logout</button></span>
</h1>



<a class="btn btn-primary jumbotron" href="http://192.168.0.157/Dannys/client/#/admin/operator">Create or Delete Operator.</button>
<a class="btn btn-info jumbotron" href="http://192.168.0.157/Dannys/client/#/admin/menu">Create or Delete Menu Item.</button>
<a class="btn btn-warning jumbotron" href="http://192.168.0.157/Dannys/client/#/admin/summary">Summary of the total sales today.</button>
