<a class="btn w3-btn w3-blue" href="http://192.168.0.157/Dannys/client/#/placeOrder">Place Order</a>
<a class="btn w3-btn w3-blue" href="http://192.168.0.157/Dannys/client/#/operator/showOrder">Show Order</a>
<br>



<h1  class="page-header">Select Items And Enter Quantity
	<span><button class="btn-success pull-right" id="logoutBtn" data-toggle="modal" data-target="#myModal">Logout</button></span>
</h1>	

<style type="text/css">
th{
	text-align: center;
}

</style>

<form>
	<table class="text-center table">
		<tr>
			<th>Sr.No</th>
			<th>Item</th>
			<th>Qtn.</th>
			<th>Price</th>
			<th></th>
		</tr>
		<tr ng-repeat="x in totalItems">
			<td>
				{{$index+1}}
			</td>
			<td>
				<select ng-model="x.item" ng-change="getPrice({{$index}})" id="myselect[{{$index}}]" >
					<option ng-repeat="y in menuItems" value="{{y.id}}" >{{y.name}}</option>
				</select>
			</td>
			<td>
				<input type="number" style=" width: 30px;" ng-model="x.quantity" ng-change="updateTotal({{$index}})">
			</td>

			<td>
				{{x.price}}
			</td>

			<td>
				<input type="button" ng-click="delRow(x.id)" value="Delete">
			</td>
		</tr>
		<tr>
			<td colspan=6>
				<input type="button" ng-click="genNewRow()" value="Add">
			</td>
		</tr>
	
	</table>
	
</form>



<div class="w3-container well-lg">
	<button class="btn btn-warning" ng-click="submit_order()">Submit Order</button>
</div>